.AMV{
    display: none;
    
}

.content-view{
    display: flex;
}
.mainnav{
    background:white;
    height: 100vh;
    width: 13%;
    margin: 10px;
    /* background:red; */
}
.seminav{
    width: inherit;
    position: fixed; 
    margin-top: 10px;
 
}
.sidebar{
    width: 100%;
    /* background:red; */
}
.sidebar .text{
    color:white;
    height: 100%;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    letter-spacing : 1px;

}

.sidebar .text::-webkit-scrollbar{
    
    display:block;
    height:10px;
    width: 10px;
    
}
.sidebar .text::-webkit-scrollbar-track{
    border-radius: 0;
}
.sidebar .text::-webkit-scrollbar-thumb{
    background: rgb(158, 158, 158);
    border-radius: 5px;
}
.sidebar .text::-webkit-scrollbar-thumb:hover{
    background:#Fce1bd;
}

.sidebar ul{
    /* background: white; */
    height: 100%;
    width: 100%;
    list-style:none;

}
.sidebar ul li{
    line-height: 50px;
}
.sidebar ul li .name{
    display: flex;
}
.sidebar ul li a{
    text-decoration: none;
    font-weight: 800;
}
.sidebar ul li img{
    width:60px;
}
.sidebar ul li h1{
    font-size: 15px;
}
.down{
 
    margin-top: 90%;
}
.sidebar ul li .king{
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding-left: 8px;
    font-weight: 500;
    display: block;
    margin: 3px;
    width: 100%;
    margin-left: 0px;
    border-left: 3px solid transparent;
    text-align: start;
    transition: 0.5s ease-in-out ;
    

}
.sidebar ul li .king:hover{
    color: orangered;
    background:rgb(184, 179, 179);
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 10px solid orangered;
    
}
.sidebar ul li .king:focus{
    color: orangered;
    background:rgb(184, 179, 179);
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 10px solid orangered;
}

/* main view */
.mainview{
    margin-top: 10px;
    width: 87%;
    height: 100vh;
    background-color: white;
}
main{
    border: 1px solid red;
    margin-top: 1.4rem;
}
main h1{
    font-weight: 800;
    font-size: 1.8rem;
    margin: 10px;
    line-height: 35px;
}
main h2{
    font-size: 1.4rem;
    margin: 0px;
}
main h3{
    font-size: 0.87rem;
    margin: 0px;
}
main h4{
    font-size: 0.8rem;
    margin: 0px;
}
main h5{
    font-size: 0.77rem;
    margin: 0px;
}
main small{
    font-size: 0.75rem;
    color: #7d8da1;
    margin: 0;
}
main .date{
    margin: 10px;
    display: inline-block;
    background: rgba(132, 139, 200, 0.18);
    border-radius:0.4rem ;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type="date"]{
    background: transparent;
    border: none;
    color: #363949;
}
main .date input[type="date"]:focus{
    outline: none;
}
main .insights{
    border: 1px solid red;
   display: flex;
   justify-content: start;
   align-items: center;
  flex-wrap: wrap;
}
main .insights > div{
    border: 1px solid red;
    background-color: #fff;
    padding:1.8rem ;
    width: auto;
    border-radius: 2rem;    
    margin: 1.6rem;
    margin-top: 1rem;
    box-shadow:0 2rem 3rem  rgba(132, 139, 200, 0.18) ;
    transition: all 300ms ease;
}
main .insights > div:hover{
    box-shadow: none;
}
main .insights > div .red1{
    font-size: 1rem;
    background:#7380ec;
    height: auto;
    width:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;

}
main .insights > div.expenses .red1{
    background: #ff7782;
}
main .insights > div.income .red1{
    background: #41f1b6;
}
main .insights > div .middle{
    border: 1px solid red;
    display: flex;
    align-items: start;
    margin-top:10px ;
    justify-content: space-between;
} 
main .insights h3{
    border: 1px solid red;
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main .insights .progress {
    border: 1px solid red;
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .insights .svg{
    border: 1px solid red;
    width: 7rem;
    height: 7rem;
}
main .insights svg circle{
    border: 1px solid red;
    fill: none;
    stroke: #7380ec;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(20px, 9px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
main .insights .sales svg circle{
    border: 1px solid red;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .insights .expenses svg circle{
    border: 1px solid red;
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}
main .insights .income svg circle{
    border: 1px solid red;
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}
main .insights .progress .number{
    border: 1px solid red;
    position: absolute;
    top: 0;
    left:13px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .insights small{
    margin-top: 1.3rem;
    display: block;
}
/* Recent Orders */
.recent-orders{
    margin-top: 2rem;
}
.recent-orders h2{
    margin-bottom: 0.8rem;
    font-weight:700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.recent-orders table{
    background-color:#fff ;
    width: 99%;
    border-radius:2rem ;
    padding:1.8rem ;
    text-align: center;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all 300ms ease;
}
.recent-orders table:hover{
    box-shadow: none;
}
table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    color: #677483;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table tbody tr:last-child td{
    border: none;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table tbody tr .warning{
    color: #ffbb55;
}
table tbody tr .primary{
    color: #7380ec;
    cursor: pointer;
}
.recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: #088178;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}
/* order */
#order{
    display: none;
}
/* category */
#cat2{
    display: none;
}
.top{
    display: flex;
}
#cat2 h1{
    font-weight: 800;
    font-size: 1.8rem;
    margin: 10px;
    line-height: 35px;
}
#cat2 button{
    margin-left: 30%;
    text-align: center;
    width: auto;
}
#cat2 button:hover{
    margin-bottom: 5px;
    background-color: #088178;
    color: white;
}

#cat {

    background-color: #Fce1bd;
    /* background:rgb(237, 237, 237); */
    border-radius: 5px;
}
#cat ul{
    display: flex;
    justify-content: space-around;
    height: auto;
    overflow-x: auto;
}
#cat ul::-webkit-scrollbar{
    display:block;
    height:0px;
    width: 20px;
    
}
#cat ul::-webkit-scrollbar-thumb{
    background:rgb(237, 237, 237);
}

#cat ul li{
    padding:10px;
    list-style-type: none;
    transition: 0.5s ease-in-out;
}


#cat ul li a{
    text-decoration: none;
}

/* dishes */
.display{
    background-color: rgb(242, 242, 242);
    width:100%;
    box-shadow: 90px 30p 70px rgba(0,0,0, 0.1);
    border-radius: 10px;
}

.dishes{
    display: block;
}
#c1,#c2,#c3,#c4{
    display: none;
}
.display .barbeque{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 800;
    font-size:2rem;
    padding: 5px;
    line-height: 35px;
}
.box-curry{
    display: flex;
    flex-wrap: wrap;
}
.choice{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.box-curry .buttonRed,
.box-curry .buttonGreen{
    margin-left: 30px;
    padding: 10px;
    text-align: center;
    border: none;
    width: auto;
}
.box-curry .buttonRed:hover{
    /* margin-bottom: 5px; */
    border-radius: 5px;
    background-color: red;
    color: white;
}

.box-curry .buttonGreen:hover{
    /* margin-bottom: 5px; */
    border-radius: 5px;
    background-color: #088178;
    color: white;
}

#product1 .ml{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20p 30px rgba(0,0,0, 0.2);
    margin: 15px 40px; 
    transition: 0.2s ease;
    position: relative;
}
#product1 .ml:hover{
    box-shadow:  20px 20px 30px rgba(0,0,0, 0.2);
}
#product1 .ml img{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    box-shadow:  1px 1px 3px rgba(0,0,0, 0.1)
}
.price{
    color: #088178;
    font-size: 16px;
    font-weight: 700;
}
#product1 .ml .des{
    text-align: start;
    padding: 10px 0;
    margin-bottom:25px ;
    /* border: 1px solid red; */
}
#product1 .ml .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .ml .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .ml .des .star {
    margin-top: 5px;
    font-size: 12px;
    color:rgb(243, 181, 25)
}
#product1 .ml .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#088178 ;
}
#product1 .ml .cart{
    width: 70px;
    height: 30px;
    padding: 5px;
    line-height: 40px;
    border-radius:  30px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0 ;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#product1 .ml .cart:hover{
    background-color: #088178;
    color: white;
}

/* Add Category */
#new-category{
    display: none;
}

/* Add dishes */
#dish{
    display: none;
}
.dish-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-dish{
    background-color: #fff;
    width: 70%;
    border-radius: 2rem;    
    margin: 1rem;
    display: block;
    margin-top: -0.5rem;
    transition: all 300ms ease;  
}
.new-dish:hover{
    box-shadow: none;
}
.new-dish h1{
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    height: auto;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
.new-dish .nd{
    margin: 10px;
    display: block;
}

.new-dish .nd h3{
    color: #088178;
    margin: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.new-dish .nd .danger{
    color: red;
}
.new-dish .nd input, select{
    width: 100%;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 10px;
}
.new-dish .nd select option{
    color: #088178;
    border-radius: 5px;
}
.new-dish .nd select textarea{
    border: 1px solid #a1a1a1;
}
.new-dish .nd input:focus,
.new-dish .nd textarea:focus{
    outline: none;
}
.new-dish input[type="submit"]{
    width: 100%;
    background-color: #Fce1bd;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.new-dish input[type="submit"]:hover{
    background-color: #f6cb93;
}
/* Settings */
.dish-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-profile{
    background-color: #fff;
    width: 70%;
    border-radius: 2rem;    
    margin: 1rem;
    display: block;
    margin-top: -0.5rem;
    transition: all 300ms ease;  
}
.new-profile:hover{
    box-shadow: none;
}
.new-profile h1{
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    height: auto;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}
/* .new-profile .nd{
    margin: 10px;
    display: block;
} */

.new-profile .nd h3{
    color: #088178;
    margin: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.new-profile .nd .danger{
    color: red;
}
.new-profile .nd input{
    width: 100%;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 10px;
}

.new-profile .nd input:focus{
    outline: none;
}
.new-profile .submit{
    width: 100%;
    background-color: #Fce1bd;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}
.new-profile .show{
    display: block;
}
.hide{
    display: none;
}
.new-profile .nd input[type="password"]::placeholder,
.new-profile .hide::placeholder{
    color: red;
}


.new-profile input[type="submit"]:hover{
    background-color: #f6cb93;
}

/* Responsive */
@media (max-width:799px) {
    .AMV{
        display: block;
    }
    .AMV2{
        display: none;
    }
    .title{
        display: none;
    }
    .mainnav{
        display: none;
    }
    .mainview{
        width: 100%;
    }
    .top{
        display: block;
    }
}
@media (max-width:600px) {
    .AMV{
        display: block;
    }
}